.footer {
  width: 100%;
  background-color: #0c0a3e;
  color: #eee5e9;
  text-align: center;

  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  bottom: 0;
}

.footer a {
  color: #e94560;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #ff5a78;
}
