.reserva {
  display: flex;
  flex-direction: column;
  align-self: start;
  font-family: "Inter", sans-serif;
  background-color: #1a164d;
  border-radius: 12px;
  padding: 0.7rem 1.5rem;
  gap: 0.5rem;
  border: 2px solid transparent;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 50%;
  margin: 20px auto;
}
.reserva h1 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.reserva-destaque {
  color: #e94560;
}

.label {
  color: #e94560;
  font-weight: 700;
  font-size: 1.2rem;
}

.valor {
  font-weight: 700;
  font-size: 1.2rem;
}

.deletar {
  width: 100%;
  padding: 12px 0;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  background-color: #e94560;
  color: #eee5e9;
  cursor: pointer;
  transition: background-color 0.2s;
}

.deletar:hover {
  background-color: #d73250;
}

@media (max-width: 1024px) {
  .reserva {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .reserva {
    width: 90%;
    padding: 1rem;
  }
  .label,
  .valor {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .reserva {
    width: 95%;
    padding: 0.8rem;
  }
  .label,
  .valor {
    font-size: 1.2rem;
  }
  .deletar {
    font-size: 0.9rem;
    padding: 10px 0;
  }
}
